<?xml version="1.0"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oldi.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OldiGW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <userSettings>
        <Oldi.Net.Properties.Settings>
            <setting name="FailResponse" serializeAs="String">
                <value>&lt;response&gt;
	&lt;error code="{0}"&gt;{1}&lt;/error&gt; 
&lt;/response&gt;
</value>
            </setting>
            <setting name="CodeSNA" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="XmlHeader" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;</value>
            </setting>
            <setting name="CodeLongWait" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="providerMTS" serializeAs="String">
                <value>mts</value>
            </setting>
            <setting name="Response" serializeAs="String">
                <value>&lt;response&gt;
	&lt;error code="{0}"&gt;{1}&lt;/error&gt; 
	&lt;transaction&gt;{2}&lt;/transaction&gt;
	&lt;acceptdate&gt;{3}&lt;/acceptdate&gt;
	&lt;acceptcode&gt;{4}&lt;/acceptcode&gt;
	&lt;account&gt;{5}&lt;/account&gt;
	&lt;addinfo&gt;{6}&lt;/addinfo&gt;
	&lt;debt-amount&gt;{7}&lt;/debt-amount&gt;
&lt;/response&gt;</value>
            </setting>
            <setting name="CodeSUCS" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="providerCyber" serializeAs="String">
                <value>cyber</value>
            </setting>
            <setting name="providerPCC" serializeAs="String">
                <value>pcc</value>
            </setting>
            <setting name="XmlHeader1251" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="windows-1251"?&gt;</value>
            </setting>
            <setting name="rtResponse" serializeAs="String">
                <value>&lt;response&gt;
	&lt;error code="{0}"&gt;{1}&lt;/error&gt; 
	&lt;transaction&gt;{2}&lt;/transaction&gt;
	&lt;acceptdate&gt;{3}&lt;/acceptdate&gt;
	&lt;opname&gt;{4}&lt;/opname&gt;
	&lt;addinfo&gt;{5}&lt;/addinfo&gt;
&lt;/response&gt;</value>
            </setting>
        </Oldi.Net.Properties.Settings>
    </userSettings>


    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XWcfApiService" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apitest.regplat.ru:10443/extra/XWcfApiService.svc/xwcfapiservice.svc"
                binding="basicHttpBinding" bindingConfiguration="XWcfApiService"
                contract="IXWcfApiService" name="XWcfApiService" />
        </client>
    </system.serviceModel>


    </configuration>
