<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="mtsSection" type="Oldi.Net.MtsSection, Utility"  />
        <section name="cyberSection" type="Oldi.Net.CyberSection, Utility"  />
        <section name="pccSection" type="Oldi.Net.PccSection, Utility"  />
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oldi.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OldiGW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <mtsSection
        name="mts"
        host="https://espp1.mts.ru/PaymentProcessingXMLEndpointServerProxy/XMLPaymentProcessingDispatcher"
        log="mts.log"/>
<!--
  var SD=1006894;
  var AP=1006987;
  var OP=1006988;
  var SecretKey="secret.key";
  var PublicKeys="pubkeys.key";
  var Passwd="Fastbreak177";
  var BankKeySerial=64182;
-->
  <cyberSection name="cyber" SD="1351285" AP="1354719" OP="1354720"
    SecretKey="secret.key"
    PublicKeys="pubkeys.key"
    Passwd="263157"
    BankKeySerial="904291"
    host="https://service.cyberplat.ru/cgi-bin/"
    pay-check="{0}/{0}_pay_check.cgi"
    pay="{0}/{0}_pay.cgi"
    pay-status="{0}/{0}_pay_status.cgi"
    log="cyber.log"/>

  <pccSection name="pcc"
              certname="dealoldit"
              host="https://www.controlpay.ru:8443/lfc.aspx/"
              log="pcc.log"/>

  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <appSettings>
        <add key="GWHost" value="http://+:{0}/oldigw/" />
        <add key="Title" value="Oldi.Net.Gateway" />
        <add key="Version" value="3.1.11.26" />
        <add key="Port" value="200" />
        <add key="SslPort" value="201" />
        
        <add key="ConnectionString" value="Data Source=(local); Initial Catalog=OldiGW; User ID=sa; Password=Fastbreak17;" />
        <add key="GorodConnectionString" value="Data Source=(local); Initial Catalog=Gorod; User ID=sa; Password=5;" />
        <add key="DbCheckTimeout" value="2" />

      <add key="Root" value="C:\OldiGW\" />
          <add key="LogPath" value="log\" />
        <add key="Templates" value="templates\" />
        <add key="Reesters" value="registers\" />
      
        <add key="Cyber" value="cyber\" />

        <add key="LogLevel" value="DEBUG" />

    </appSettings>
<!--
        <MtsSettings>
            <add key="host" value="https://espp1.mts.ru/PaymentProcessingXMLEndpointServerProxy/XMLPaymentProcessingDispatcher" />
            <add key="CN" value="1380200801234;98;226581085" />
            <add key="VpsCode" value="1380200801234" />
            <add key="Contract" value="9904000052" />
            <add key="PCCode" value="226581085" />
            <add key="LogFile" value="mtsgate.log" />
            <add key="FakeTerminal" value="OLDIT-00001.1" />
        </MtsSettings>
    
        <CyberSettings>
            <add key="Host" value="http://demo.cyberplat.ru" />
            <add key="LogFile" value="cybergate.log" />
            <add key="FakeTerminal" value="OLDIT-00001.1" />
        </CyberSettings>
-->    
    <userSettings>
        <Oldi.Net.Properties.Settings>
            <setting name="FailResponse" serializeAs="String">
                <value>&lt;response&gt;
	&lt;error code="{0}"&gt;{1}&lt;/error&gt; 
&lt;/response&gt;
</value>
            </setting>
            <setting name="CodeSNA" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="XmlHeader" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;</value>
            </setting>
            <setting name="CodeLongWait" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="providerMTS" serializeAs="String">
                <value>mts</value>
            </setting>
            <setting name="Response" serializeAs="String">
                <value>&lt;response&gt;
	&lt;error code="{0}"&gt;{1}&lt;/error&gt; 
	&lt;transaction&gt;{2}&lt;/transaction&gt;
	&lt;acceptdate&gt;{3}&lt;/acceptdate&gt;
	&lt;account&gt;{4}&lt;/account&gt;
	&lt;addinfo&gt;{5}&lt;/addinfo&gt;
&lt;/response&gt;</value>
            </setting>
            <setting name="CodeSUCS" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="providerCyber" serializeAs="String">
                <value>cyber</value>
            </setting>
            <setting name="providerPCC" serializeAs="String">
                <value>pcc</value>
            </setting>
            <setting name="XmlHeader1251" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="windows-1251"?&gt;</value>
            </setting>
        </Oldi.Net.Properties.Settings>
    </userSettings>
    </configuration>
