<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Oldi.Mts.Properties.Properties.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Mts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Oldi.Mts.Properties.Properties.Properties.Settings>
            <setting name="Header" serializeAs="String">
                <value>&lt;?xml version = "1.0" encoding = "UTF-8"?&gt;
&lt;{0}\txmlns = "http://schema.mts.ru/ESPP/AgentPayments/Protocol/Messages/v5_02"
				xmlns:espp-constraints = "http://schema.mts.ru/ESPP/Core/Constraints/v5_02"
				xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
				xsi:schemaLocation = "http://schema.mts.ru/ESPP/AgentPayments/Protocol/Messages/v5_02 ESPP_AgentPayments_Protocol_Messages_v5_02.xsd
									  http://schema.mts.ru/ESPP/Core/Constraints/v5_02 ESPP_Core_Constraints_v5_02.xsd"
				{1}&gt;
</value>
            </setting>
            <setting name="Footer" serializeAs="String">
                <value>&lt;/{0}&gt;</value>
            </setting>
            <setting name="Tag1" serializeAs="String">
                <value>&lt;{0} xsi:type = "espp-constraints:{1}"&gt;{2}&lt;/{0}&gt;</value>
            </setting>
            <setting name="Tag2" serializeAs="String">
                <value>&lt;{0}&gt;{1}&lt;/{0}&gt;</value>
            </setting>
            <setting name="UrlMessages" serializeAs="String">
                <value>http://schema.mts.ru/ESPP/AgentPayments/Protocol/Messages/v{0}</value>
            </setting>
            <setting name="XsdMessages" serializeAs="String">
                <value>ESPP_AgentPayments_Protocol_Messages_v{0}.xsd</value>
            </setting>
            <setting name="UrlConstraints" serializeAs="String">
                <value>http://schema.mts.ru/ESPP/Core/Constraints/v{0}</value>
            </setting>
            <setting name="XsdConstraints" serializeAs="String">
                <value>ESPP_Core_Constraints_v{0}.xsd</value>
            </setting>
            <setting name="CheckTemplate" serializeAs="String">
                <value>ESPP_0104010</value>
            </setting>
            <setting name="PayTemplate" serializeAs="String">
                <value>ESPP_0104090</value>
            </setting>
            <setting name="StatusTemplate" serializeAs="String">
                <value>ESPP_0104085</value>
            </setting>
        </Oldi.Mts.Properties.Properties.Properties.Settings>
        <Mts.Properties.Settings>
            <setting name="Header" serializeAs="String">
                <value>&lt;?xml version = "1.0" encoding = "UTF-8"?&gt;
&lt;{0}\txmlns = "http://schema.mts.ru/ESPP/AgentPayments/Protocol/Messages/v5_02"
				xmlns:espp-constraints = "http://schema.mts.ru/ESPP/Core/Constraints/v5_02"
				xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
				xsi:schemaLocation = "http://schema.mts.ru/ESPP/AgentPayments/Protocol/Messages/v5_02 ESPP_AgentPayments_Protocol_Messages_v5_02.xsd
									  http://schema.mts.ru/ESPP/Core/Constraints/v5_02 ESPP_Core_Constraints_v5_02.xsd"
				{1}&gt;
</value>
            </setting>
            <setting name="Footer" serializeAs="String">
                <value>&lt;/{0}&gt;</value>
            </setting>
            <setting name="Tag1" serializeAs="String">
                <value>&lt;{0} xsi:type = "espp-constraints:{1}"&gt;{2}&lt;/{0}&gt;</value>
            </setting>
            <setting name="Tag2" serializeAs="String">
                <value>&lt;{0}&gt;{1}&lt;/{0}&gt;</value>
            </setting>
            <setting name="UrlMessages" serializeAs="String">
                <value>http://schema.mts.ru/ESPP/AgentPayments/Protocol/Messages/v{0}</value>
            </setting>
            <setting name="XsdMessages" serializeAs="String">
                <value>ESPP_AgentPayments_Protocol_Messages_v{0}.xsd</value>
            </setting>
            <setting name="UrlConstraints" serializeAs="String">
                <value>http://schema.mts.ru/ESPP/Core/Constraints/v{0}</value>
            </setting>
            <setting name="XsdConstraints" serializeAs="String">
                <value>ESPP_Core_Constraints_v{0}.xsd</value>
            </setting>
            <setting name="CheckTemplate" serializeAs="String">
                <value>ESPP_0104010</value>
            </setting>
        </Mts.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
